.Est{
    height: 150vh;
}

.Estudios{
    display:flex ;
    align-content: space-between;
    flex-wrap: wrap;
}

.Estudio{
    margin-bottom: 2%;
    width: 50%;
    padding: 10px;
}

.des{
    opacity: 1;
}

